# Ignore the virtual environment (We build a fresh one inside Docker)
venv/
env/
.env

# Ignore Git history (Saves space)
.git/
.gitignore

# Ignore local logs and data (Start fresh)
logs/
data/
*.csv
*.log

# Ignore Python caches
__pycache__/
*.py[cod]
.DS_Store
.vscode/